<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="engine" class="org.cfs.Petrolengine"/>
    <bean id="dieselEng" class="org.cfs.dieselengine" autowire-candidate="false"/>
<!--    autowire-candidate="false" .... spring ignores this while autowiring -->
<!--    <bean id="car" class="org.cfs.Car" autowire="byName" />-->
<!--    <bean id="car" class="org.cfs.Car" autowire="byType"  />-->
    <bean id="car" class="org.cfs.Car" autowire="constructor"  />

</beans>


